<footer class="d-flex justify-content-between bg-body-secondary p-4 shadow-lg">
    <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Art_Institute_of_Chicago_logo.svg/300px-Art_Institute_of_Chicago_logo.svg.png" />
        
    <div class="d-flex gap-5">
        <div class="d-flex flex-column gap-2">
            <a href="#">Visit</a>
            <a href="#">About</a>
            <a href="#">More</a>
        </div>
        <div class="d-flex flex-column  gap-2">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </div>
</footer>