img {
    height: 80vh;
    object-fit: contain;
}

.detail-label {
    font-weight: 700!important; 
}

#title {
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
}

mat-card-subtitle {
    font-family: 'Noto Serif', serif;
}