<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://artic-web.imgix.net/70829814-9f69-4a68-9b60-c9791a572f38/J15920_013-int.jpg?rect=0%2C0%2C3000%2C2000&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1600&h=1067"
                class="d-block w-100" alt="...">
        </div>
</div>

<div class="d-flex justify-content-center flex-column align-items-center p-5 align-self-center">
    <p class="text-center display-4">
        We are home to a fascinating collection of artworks, spanning different styles, periods, and cultures.
    </p>
    <a class="btn btn-dark btn-lg mt-3 rounded-0" routerLink="/explore">Explore <i class="bi bi-arrow-right"></i></a>
</div>