<mat-card  class="shadow-none border border-1 p-1" (click)="navigateToArtwork(artwork.id)">
    <i (click)="addToFav(artwork.id, $event)" *ngIf="!isFavorite" class="bi bi-heart fav-icon"></i>
    <i (click)="removeFromFav(artwork.id, $event)" *ngIf="isFavorite" class="bi bi-heart-fill text-danger fav-icon"></i>
    <img mat-card-image src="https://www.artic.edu/iiif/2/{{artwork.image_id}}/full/843,/0/default.jpg"
        onerror="this.src='assets/images/default_image.png'">
    <mat-card-header>
        <mat-card-title id="title">{{artwork.title}}</mat-card-title>
        <mat-card-subtitle><cite>By {{artwork.artist_title}}</cite></mat-card-subtitle>
    </mat-card-header>
</mat-card>