img {
    object-fit: contain;
    height: 300px;
}

#title {
    font-weight: 700;
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
}

mat-card-subtitle {
    font-family: 'Noto Serif', serif;
}

mat-card {
    &:hover {
        scale: 1.05;
        transition-duration: 500ms;
    }
}

.fav-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    font-size: 1.5rem;

    &:hover {
        color: red;
    }
}

